-e git+http://github.com/django/django.git@stable/1.5.x#egg=django
django-debug-toolbar==0.9.4
django-extensions==1.0.0
-e git+https://github.com/django/django-localflavor-us.git#egg=django-localflavor-us
django-model-utils==1.1.0
python-dateutil==1.5
pytz==2012h
requests==1.0.4
south==0.7.6
unipath==0.2.1
django-picklefield
django-haystack

