<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - {{request.site_name}}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{% block metakey %}{% endblock %}" /> 
    <meta name="description" content="{% block metadesc %}{% endblock %}" /> 
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">    
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="{{MEDIA_URL}}bids.css" rel="stylesheet" />
    <script type="text/javascript" src="{{MEDIA_URL}}bids.js"></script>
    <style>
      body {
        /*padding-top: 60px;*/ /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {   
        {% block onready %}{% endblock %}
        }); 
    </script>
</head>
<body>



  <div class="container">
    <div class="navbar">
      <div class="navbar-logo" style="float:left">
        <ul class="nav">
            <li>
              <a href="/"><img src="{{MEDIA_URL}}jb-logo.png"/></a>
            </li>
        </ul>
    </div>
      <div class="navbar-inner" style="float:left;margin:70px 0 0 0;">
        <ul class="nav">
            <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
            <li class="{% ifequal request.path "/search" %}active{% endifequal %}"><a href="/search">Search Bids</a></li>
            <li class="{% ifequal request.path "/how-to" %}active{% endifequal %}"><a href="/how-to">How To Bid</a></li>
            <li class="{% ifequal request.path "/about" %}active{% endifequal %}"><a href="/about">About</a></li>
            <li class="{% ifequal request.path "/contact" %}active{% endifequal %}"><a href="/contact">Contact</a></li>
          </ul>
      </div>
        {% if request.user.is_admin %}
        <!--  Site info for admins -->
          <a href="/admin">admin site</a> 
          {% if debug %}
           - DEBUG MODE IS ON, all bids (not just published) will be shown
          {% endif %}
        {% endif %}      
    </div><!-- /.navbar -->    
  </div>


<div class="container">
    {% block content %}{% endblock %}
    <!-- Path: {{request.path}} -->
</div> <!-- /container -->


</body>
</html>