{% extends 'base.html' %}
{% load markup %}
{% block title %}{{bid.title}} - {{bid.catetory}} - {{bid.source.county}}.{% endblock %}
{% block metadesc %}{{bid.title}}.  {{bid.meta_description}}{% endblock %}
{% block metakey%}{{bid.source.county.state}},{{bid.source.county}},{{bid.source}},bids,rfps,proposals,goverment,municipal,{{bid.title}}{% endblock %}
{% block onready %}
{% endblock %}
{% block content %}


<div class="row">
	<div class="span10 offset1 bid">
		{% if prev_url %}
		<a href="{{prev_url}}">Back to results</a>
		{% endif %}

		<h1>{{bid.title}}</h1>
		<div class="row detail form-inline">
			<div class="span3 text-left">
				<b>Location</b>: <a href="{{bid.source.get_absolute_url}}">{{bid.source}}</a>
				<br>
				<b>County</b>: <a href="{{bid.source.county.get_absolute_url}}">{{bid.source.county}}</a>
				<br>
				<b>Category</b>: <a href="{{bid.category.get_absolute_url}}">{{bid.category}}</a>
			</div>
			<div class="span3 text-left">
				<b>Open Date</b>: {{bid.open_date|date}}
				<br/>
				<b>End Date</b>: {{bid.end_date|date}}
			</div>	
			<div class="span3 text-left">
				<b>Contact</b>: {{bid.contact_name}}
				<br/>
				<b>Phone</b>: {{bid.contact_phone}}
				<br>
				<b>Source</b>: <a href="{{bid.url}}" target="_newtab">View</a>
			</div>				
		</div>
		
		<div class="bid_description">
			{{bid.description|markdown:"safe"}}
		</div>

	</div>
</div>


{% endblock %}
