{% extends 'base.html' %}

{% block content %}
<div class="hero-unit" style="padding-top:10px">
    <h2>Welcome to Jersey Bids</h2>
    <!--<p>We supply updates and knowledge on current and upcoming bids, RFPs, and government contracts to keep you, the contractor, continuously aware of new projects and their specifications</p>
    <p><a href="/search" class="btn btn-primary btn-large">Start Searching &raquo;</a></p>-->
	<div style="margin-top:18px">
	Due to a depressed economy, there's escalating competition for jobs in today’s public contract industry; so, it is vital to have an edge over competitors when seeking bids, RFPs, or Contracts.  JerseyBids provides that advantage.
	</div>
	<div style="margin-top:18px">
	JerseyBids supplies updates and knowledgeon current and upcoming bids, RFPs, and government contracts to keep you, the contractor, continuously aware of new projects and their specifications. We offer a database of New Jersey bids at no charge to you!
	</div>
	<div style="margin-top:18px">
	<i>Why JerseyBids?</i>  We remain ahead of the competition because we are the ONLY New Jersey specific site.  Gone are the frustrating days of wasting your time endlessly searching through information to locate contracting opportunities in your area.  Not only do we do the filtering work for you, but we offer this New Jersey focused service for free whereas you would pay a fee on any of other website.  
	</div>
	<div style="margin-top:18px">
	The State of New Jersey has 21 counties, 566 municipalities (250 boroughs, 52 cities, 15 towns, 245 townships, and 4 villages), 682 schools districts, 15 State departments, and 71 agencies.  Each of these entities list bids, contracts and RFPs.  As a result, bidding in New Jersey can be complicated, confusing and overwhelming.  <b>JerseyBids is here to help</b>.
	</div>
</div>

{% endblock %}

