{% extends 'base.html' %}

{% block content %}
    <h1>The New Jersey Bid Process</h1>
    <br/>
    <p>We supply updates and knowledge on current and upcoming bids, RFPs, and government contracts to keep you, the contractor, continuously aware of new projects and their specifications</p>

    <hr/>

      <div class="row-fluid">
        <div class="span4">
          <h2>Counties A to I</h2>
          <p>
          	<a href="">Atlantic</a>
          </p>
        </div>
        <div class="span4">
          <h2>Counties J to R</h2>
          <p>
          	<a href="">Atlantic</a>
          </p>
       </div>
        <div class="span4">
          <h2>Counties S to Z</h2>
          <p>
          	<a href="">Atlantic</a>
          </p>
        </div>
      </div>    
{% endblock %}
