{% extends 'base.html' %}
{% load endless %}

{% block title %}Search Bids{% endblock %}
{% block onready %}
	recheck_from_url();
	$('#query').pressEnter(function(){search();})
{% endblock %}
{% block content %}
	<br/>

<div class="row">
	<div class="span2">
		<div id="levels" class="facet">	
			<h3>Level</h3>
			<span class="divider"></span>
			{% for l in levels %}	
				<input onclick="search()" type="checkbox" name="level" id="level_{{l}}" value="{{l}}" />
				<label for="level_{{l}}">{{l|capfirst}}</label>
				<div style="clear:both; height:0px;"></div>
			{% endfor %}
		</div>		
		<br/>		
		<div id="counties" class="facet">	
			<h3>Counties</h3>
			<span class="divider"></span>
			{% for c in counties %}	
				<input onclick="search()" type="checkbox" name="county" id="county_{{c.0}}" value="{{c.0}}" />
				<label for="county_{{c.0}}">{{c.0|capfirst}}</label>
				<div style="clear:both; height:0px;"></div>
			{% endfor %}
		</div>		
		<br/>
		<div id="categories" class="facet">		
			<h3>Categories</h3>
			<span class="divider"></span>
			{% for c in cats %}
				<input onclick="search()" type="checkbox" name="category" id="category_{{c.0}}" value="{{c.0}}" />
				<label for="county_{{c.0}}">{{c.0|capfirst}}</label>
				<div style="clear:both; height:0px;"></div>
			{% endfor %}
		</div>
		<br>
	</div>
	<div class="span10">
		<div class="row">
		<div class="span5">
			<div class="input-append">
				<input id="query" type="text">
				<button class="btn" type="button" onclick="search()">Search</button>
			</div>
		</div>
		<div class="span2">
			<select name="orderby" style="float:left" onchange="search()">
				<option>Order By</option>
				<option value="date">Newest</option>
				<option value="county">County</option>
				<option value="category">Category</option>
			</select>
		</div>
		</div>
		<br>
		<b>{{result_title}}</b><br>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			<tr>
				<th width="15%">County</th>
				<th width="15%">Category</th>
				<th width="60%">Title</th>
				<th width="10%">Date</th>
			</tr>
			</thead>
			<tbody>
			{% paginate results %}
			{% for r in results %}
				{% include 'bids/_result.html' %}
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
		<ul>
			{% get_pages %}
			{% for page in pages %}
				<!--{% if page.number == 2 %}
				<li>{{ pages.previous }}</li>
				{% endif %}	-->		
				<li>{{page}}	</li>
			{% endfor %}
			<li>{{ pages.next }}</li>
		</ul>
		</div>
	</div>
</div>


{% endblock %}
